.my-order-list {
    width: 80%;
    margin: 40px;
    margin-left: auto;
    margin-right: 70px;
    box-shadow: 0 0 4px 4px rgb(168, 161, 161);
    padding: 20px
}

.my-order-user-details {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    text-align: center;
}

.my-order-user-details p {
    font-size: 18px;
    margin: 15px 6px;
    color: rgb(43, 42, 42);
    font-weight: 500;
}

.my-order-user-details p span {
    font-size: 18px;
    color: rgb(92, 92, 92);
    font-weight: normal;
}

.cart-item-header h4 {
    margin: 0;
    padding: 0;
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(202, 201, 201);
    width: 33%
}

.cart-item-header {
    width: 100%;
}