.topbar {
    /* background-color: #242933;
     */
    /* background-color: #3f51b5; */
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgb(233, 232, 232);
    box-shadow: 0px 4px 8px -6px rgba(0, 0, 0, .5);
    color: black;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    vertical-align: middle;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.topbar img {
    height: 100%;
    margin-left: auto;
    color: red
}

.topbar-menu {
    display: flex;
    align-items: center;
}

.topbar-menu p {
    color: #01485B;
    font-weight: 500;
    font-size: 20px;
    margin: 0 10px;
}